.fit {
  object-fit: cover;
  width: 100%;
  height: 72rem;

  @media only screen and (max-width: 50em) {
    height: 35rem;
  }

  z-index: -2;
  backface-visibility: hidden;

  // animation: pictureFade 1s ease 1s;
  // animation-fill-mode: backwards;
}

// hiding bootstrap previous and next text for carousel buttons
.sr-only {
  color: transparent;
  z-index: -1000;
  visibility: hidden;
}

.carousel {
  animation-fill-mode: backwards;
  // &__page-buffer {
  //   width: 5.5rem;
  // }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    align-items: center;
    z-index: 1;
    grid-template-columns: minmax(11%, 1fr) minmax(45rem, 105rem) minmax(
        11%,
        1fr
      );
    &--1 {
      justify-content: center;
      // justify-items: center;
    }
    &--2 {
      text-align: left;
      display: grid;
      justify-content: start;
    }
    &--3 {
      text-align: end;
      display: grid;
      justify-content: end;
    }
  }
  &__inner-container {
    grid-column: 2/3;
  }

  &__header-3 {
    font-size: 2.6rem;
    &--2,
    &--3 {
      margin-bottom: 2.5rem;
    }
    @media only screen and (max-width: 51em) {
      font-size: 2.3rem;
    }
    @media only screen and (max-width: 40em) {
      font-size: 1.8rem;
    }
    @media only screen and (max-width: 25em) {
      font-size: 1.6rem;
    }
    color: rgb(240, 240, 240);
    text-transform: uppercase;
    font-weight: 100;
    animation: carouselHeader3Up 0.5s ease 0.5s;
    animation-fill-mode: backwards;
    &-end {
      font-size: 2.6rem;
      color: rgb(240, 240, 240);
      text-transform: uppercase;
      font-weight: 100;
      animation: exitUp 0.1s ease;
    }
  }
  &__header-1-background {
    background: -webkit-linear-gradient(
      to right,
      #de6262c4,
      #ffb88cc7
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #de6262c4, #ffb88cc7);
    width: 60%;
    margin: 3rem 20%;
    justify-self: center;
    display: grid;
    justify-content: center;
    animation: carouselHeader1Up 2.5s ease 1s;
    animation-fill-mode: backwards;
  }
  &__header-1 {
    font-size: 4.2rem;
    @media only screen and (max-width: 63.9em) {
      font-size: 5.2rem;
    }
    @media only screen and (max-width: 51em) {
      font-size: 4.2rem;
    }
    @media only screen and (max-width: 40em) {
      font-size: 3.5rem;
      font-weight: 300;
    }
    @media only screen and (max-width: 25em) {
      font-size: 3rem;
    }
    padding: 1rem 0;
    // text-transform: uppercase;
    color: #fff;
  }
  &__header-5-background {
    background: linear-gradient(to right, #de6262c4, #ffb88cc7);
    width: 40%;
    margin: 3rem 30%;
    justify-self: center;
    display: grid;
    justify-content: center;
    animation: carouselTagLineUp 2.5s ease 1.6s;
    animation-fill-mode: backwards;
  }
  &__tag-line {
    font-size: 1.6rem;
    @media only screen and (max-width: 51em) {
      font-size: 1.4rem;
    }
    @media only screen and (max-width: 40em) {
      font-size: 1.3rem;
    }
    @media only screen and (max-width: 25em) {
      font-size: 1.2rem;
    }

    font-weight: 500;
    color: rgb(240, 238, 238);

    &-end {
      font-size: 2.5rem;
      font-weight: 100;
      color: rgb(240, 238, 238);

      animation: exit 0.1s ease;
    }
  }
  &__rectangle {
    width: 3.7rem;
    @media only screen and (max-width: 40em) {
      width: 2.6rem;
      height: 0.7rem;
    }
    @media only screen and (max-width: 25em) {
      width: 1.8rem;
      height: 0.49rem;
    }
    margin: 2rem;
    height: 1rem;
    margin-top: 3rem;
    &--left {
      animation: left 0.5s ease 1s;
      animation-fill-mode: backwards;
      &-end {
        animation: exit 0.1s ease;
      }
    }
    &--right {
      animation: right 0.5s ease 1s;
      animation-fill-mode: backwards;
      &-end {
        animation: exit 0.1s ease;
      }
    }
  }
  &__welcome-line {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__button {
    border: none;
    color: #fff;
    padding: 1.3rem 2.5rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    @media only screen and (max-width: 50em) {
      padding: 1rem 2rem;
      font-size: 1.2rem;
    }
    @media only screen and (max-width: 40em) {
      padding: 0.7rem 1.4rem;
      font-size: 1rem;
    }
    border-radius: 31px;
    background: linear-gradient(to right, #de6262c4, #ffb88cc7);
    animation: carouselButtonUp 2s ease 2s;
    animation-fill-mode: backwards;
    transition: all 0.5s ease;
    border: 1px solid #fff;
    cursor: pointer;
    &-container {
      margin-top: 2.5rem;
      margin-bottom: 1rem;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 1rem 5rem #777;
      background-color: #df4c2be7;
    }
    &-end {
      animation: exit 0.1s ease;
      border: none;
      color: #fff;
      padding: 1.5rem 2.7rem;
      margin-top: 3rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      border-radius: 2px;
      background-color: $color-secondary;
    }
  }
}

.carousel-2 {
  animation-fill-mode: backwards;
  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
  }

  &__header-1 {
    font-size: 6.2rem;
    margin-top: -2rem;
    text-transform: uppercase;
    color: #fff;
    animation: carouselHeader1Up 0.5s ease 2.5s;
    animation-fill-mode: backwards;
    &-end {
      font-size: 6.2rem;
      margin-top: -2rem;
      text-transform: uppercase;
      text-transform: uppercase;
      color: #fff;
      animation: exit 0.1s ease;
    }
  }
  &__tag-line {
    font-size: 2.5rem;
    font-weight: 100;
    color: rgb(240, 238, 238);

    animation: carouselTagLineUp 0.5s ease 3s;
    animation-fill-mode: backwards;
    &-end {
      font-size: 2.5rem;
      font-weight: 100;
      color: rgb(240, 238, 238);

      animation: exit 0.1s ease;
    }
  }
  &__rectangle {
    width: 3.7rem;
    margin: 2rem;
    height: 1rem;
    margin-top: 3rem;
    &--left {
      animation: left 0.5s ease 2s;
      animation-fill-mode: backwards;
      &-end {
        animation: exit 0.1s ease;
      }
    }
    &--right {
      animation: right 0.5s ease 2s;
      animation-fill-mode: backwards;
      &-end {
        animation: exit 0.1s ease;
      }
    }
  }
  &__welcome-line {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__button {
    border: none;
    color: #fff;
    padding: 1.5rem 2.7rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    border-radius: 2px;
    background-color: $color-secondary;
    animation: carouselButtonUp 0.5s ease 3.5s;
    animation-fill-mode: backwards;
    &-end {
      animation: exit 0.1s ease;
      border: none;
      color: #fff;
      padding: 1.5rem 2.7rem;
      margin-top: 3rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      border-radius: 2px;
      background-color: $color-secondary;
    }
  }
}
.carousel-control {
  &-next-icon,
  &-prev-icon {
    width: 2rem;
    height: 2rem;
  }
}
.carousel-control-next-icon {
  margin-left: 3rem;
}
.carousel-indicators li {
  width: 3rem;
  height: 0.3rem;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
}
