.footer {
  display: grid;
  z-index: 200;
  grid-template-rows: min-content;
  &__main {
    grid-template-columns:
      minmax(10%, 1fr) repeat(4, minmax(22rem, 50rem))
      minmax(10%, 1fr);
    @media only screen and (max-width: 37.5em) {
      grid-template-columns:
        minmax(10%, 1fr) repeat(2, minmax(22rem, 50rem))
        minmax(10%, 1fr);
    }
    display: grid;
    background-color: rgb(39, 39, 39);
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__column {
    display: grid;
    grid-template-rows: min-content;
    // align-items: center;
    margin: 3rem 0;
    @media only screen and (max-width: 37.5em) {
      margin: 1rem 0;
    }

    &--1 {
      grid-column: 2/3;
    }
    &--2 {
      grid-column: 3/4;
    }
    &--3 {
      grid-column: 4/5;
      padding: 0 0.2rem 0 0;
      @media only screen and (max-width: 37.5em) {
        grid-column: 2/3;
      }
    }
    &--4 {
      grid-column: 5/6;
      padding: 0 0.2rem 0 0;
      @media only screen and (max-width: 37.5em) {
        grid-column: 3/4;
      }
    }
  }
  &__logo {
    width: 100%;
    width: 14rem;
    align-self: start;
    @media only screen and (max-width: 37.5em) {
      width: 19rem;
    }
  }
  &__column-header {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 1.1rem 0;
    &--modifier {
      margin: 1.1rem 0 0.2rem;
    }
    @media only screen and (max-width: 37.5em) {
      grid-template-columns:
        minmax(10%, 1fr) repeat(2, minmax(22rem, 50rem))
        minmax(10%, 1fr);
      font-size: 2.4rem;
    }
  }
  &__text {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
    align-self: start;
    @media only screen and (max-width: 37.5em) {
      font-size: 2rem;
    }
    &--paragraph {
      margin-top: 0.5rem;
      line-height: 2.3rem;
    }
    &--link {
      justify-self: start;
      grid-column: 1/2;
      margin: 0.2rem 0;
    }
  }
  &__link-section {
    display: grid;
    align-self: start;
  }
  &__copyright {
    font-size: 1.4rem;
    @media only screen and (max-width: 37.5em) {
      font-size: 2.1rem;
      margin-top: 1.5rem;
    }
    color: #888;
    justify-self: center;
    grid-row: 2/3;
    grid-column: 1/7;
    @include respond(tab-port) {
      justify-self: center;
      grid-row: 4/5;
    }
  }
  &__info-section {
    display: grid;
    // padding-top: 0.5rem;
    align-items: start;
    padding-right: 0.5rem;
  }

  &__info-header-section {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(1, max-content);
    padding-top: 0.5rem;
  }
  &__contact-info {
    grid-row: 1/2;
    align-self: start;
    padding-top: 0.5rem;
    margin-right: 0.5rem;
  }
  &__info-icon {
    width: 2rem;
    height: 2rem;
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: start;
    fill: #fff;
    margin: 0.5rem 1rem 0.7rem 0;
  }
}
