<html
  lang="en"
  style="
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
  "
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style></style>
    <h3 style="font-size: 1.5rem; color: #000" class="header">About Us</h3>
    <p class="text-center">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, fuga?
    </p>
    <div
      class="section"
      style="
        grid-template-columns: minmax(10%, 1fr) repeat(2, minmax(20rem, 150rem)) minmax(
            10%,
            1fr
          );
        display: grid;
        grid-gap: 5%;
      "
    >
      <div class="section-1" style="grid-column: 2/3; grid-row: 1/2">
        <h3 class="header" style="color: #870808; font-size: 2rem">Sharon</h3>
        <p class="text-left" style="color: #555; font-size: 1.5rem">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eum
          assumenda dolorem facere culpa eligendi atque, quod accusantium ut at!
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem
          eius omnis aut! Sapiente omnis odit eum modi animi reiciendis? A
          mollitia cupiditate eaque! Dolorem consequatur quae, et id corporis
          laboriosam esse cupiditate totam veniam voluptatibus, atque obcaecati
          quibusdam fugiat hic possimus quis sit temporibus deserunt ex sunt
          asperiores nisi tenetur qui laborum. Explicabo quos consectetur
          dignissimos accusamus tempore aperiam repellat facere vitae porro, eum
          sequi assumenda consequatur suscipit dolores autem ad cum ipsam, ex
          laboriosam voluptas nostrum! Aperiam autem debitis voluptatum
          obcaecati quos sed inventore. Doloribus quis dolores fugiat minima,
          aut quaerat illo excepturi, deleniti dicta, facilis asperiores
          praesentium. Iste!
        </p>
      </div>
      <div class="section-2" style="grid-column: 3/4; grid-row: 1/2">
        <h3 class="header" style="color: #870808; font-size: 2rem">Lior</h3>
        <p
          class="text-left"
          style="text-align: left; color: #555; font-size: 1.5rem"
        >
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta a
          tempora minus quos velit nulla possimus commodi mollitia libero
          labore. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Expedita porro fugiat illo recusandae optio doloribus facere fugit
          officia commodi provident rem rerum asperiores est, harum, nostrum
          magni impedit quasi ipsam unde, omnis doloremque ratione. Perferendis
          mollitia recusandae repellendus provident laboriosam sunt quidem,
          nihil minus qui itaque omnis dolores, sint eius suscipit enim impedit
          odit error ipsum iusto harum adipisci repellat nisi explicabo
          consequatur? Aut blanditiis, placeat provident in quae, dignissimos
          cupiditate, facere quisquam ipsum deleniti fugiat. Deserunt nihil odit
          esse nulla maxime beatae fuga earum consequatur. Adipisci corrupti
          velit magni rerum impedit iure illum minus provident voluptatem
          eveniet! Molestias, et.
        </p>
      </div>
    </div>
  </body>
</html>
