.intro {
  grid-column: 2/3;
  &__header-background {
    clip-path: polygon(0 0, 100% 0, 100% 32rem, 0 100%);
    // transform: skewY(4deg);
    &--pdf {
      padding: 3rem 0;
    }
    &--no {
      height: auto;
      padding: 8rem 0;
    }
    &--bottom {
      clip-path: polygon(0 12rem, 100% 0, 100% 100%, 0 100%);
      padding: 18rem 0 8rem;
      margin-top: -10rem;
    }
    &--bottom {
      clip-path: polygon(0 12rem, 100% 0, 100% 100%, 0 100%);
      padding: 18rem 0 8rem;
      margin-top: -15rem;
    }
    &--bottom--3 {
      padding: 18rem 0;
      margin-top: -10rem;
      clip-path: polygon(0 10rem, 100% 0, 100% 35rem, 0 100%);
    }
    &--bottom--2 {
      clip-path: polygon(0 12rem, 100% 0, 100% 100%, 0 100%);

      margin-top: -15rem;
    }
    display: grid;
    align-items: center;
    justify-items: center;
  }
  &__header {
    color: #fff;
    padding: 0 20rem;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
    &--2 {
      padding: 5rem 20rem 0;
    }
    &--pdf {
      padding: 0 5rem;
    }

    font-size: 4rem;
    line-height: 4.4rem;
    font-weight: 400;
  }
  &__text {
    color: #444;
    padding: 7rem 25%;
    &--pdf {
      padding: 2rem 5rem;
    }
    font-weight: 300;
    display: grid;
    &--header {
      font-size: 3.5rem;
      font-weight: 300;
      text-transform: uppercase;
      justify-self: center;
      // color: rgb(60, 120, 209);
      border-bottom: 5px solid rgb(60, 120, 209);
      margin: 0rem 0 3rem;
      // width: 35%;
    }
    &--secondary {
      font-size: 2.3rem;

      padding: 2rem 0 3rem;

      font-weight: 300;
    }
    &--main-section {
      display: grid;
      grid-template-columns: min-content 1fr;
    }
    &--main {
      font-weight: 200;
      font-size: 1.7rem;
      line-height: 3rem;
      padding: 1.4rem 0;
    }
    &--bold {
      font-weight: 400;
      font-size: 1.7rem;
      padding: 2.8rem 0 0;
      line-height: 3rem;
    }
  }
}
