.website {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: min-content;
  &__secondary-section {
    padding: 10rem 25%;
    font-size: 2rem;
    &--pdf {
      padding: 5rem 5rem;
    }
    color: #444;
  }
  &__content {
    background-color: rgb(243, 243, 243);
    padding: 20rem 25% 10rem;
    // clip-path: polygon(0 12rem, 100% 0, 100% 100%, 0 100%);
    margin-top: -12rem;
    &--pdf {
      padding: 5rem 5rem;
    }

    color: #444;
    &-header {
      font-size: 3rem;
      padding-bottom: 3rem;
    }
  }

  &__content-item {
    padding: 2rem 0;
  }
  &__content-info {
    font-size: 2.2rem;
    margin-bottom: 3rem;
  }
  &__item-header {
    font-size: 1.9rem;
    border-bottom: 3px solid;

    margin-bottom: 1rem;
    font-weight: 300;
  }
  &__item-header-section {
    display: grid;
    grid-template-columns: max-content;
  }
  &__item-text {
    font-size: 1.7rem;
    line-height: 3.5rem;
  }
}

h3 {
  line-height: 4.5rem;
  font-weight: 300;
}
